extends layout 

block append scripts 

block main-content 
  h1.page-title #{title}
  div#about  
    p Location: 20 Bowhill Road, M3S 1J1, North York 
    p Phone: +1 4387255506
  
    p Opening Hour:
     <ul>
      <li>Monday: 12:00-20:00</li>
      <li>Tuesday: 12:00-20:00</li>
      <li>Wednesday: 12:00-20:00</li>
      <li>Thursday: 12:00-20:00</li>
      <li>Friday: 12:00-23:00</li>
      <li>Saturday: 12:00-23:00</li>
      <li>Sunday: 14:00-20:00</li>
    </ul>  
  